#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #e22cb1;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #030303;
}

.btn-primary {
    color: #fff;
    background-color: #e22cb1;
    border-color: #e22cb1;
}

.btn-primary:hover {
    color: #fff;
    background-color: #970870;
    border-color: #970870;
}

@media (min-width: 992px) {
    #mainNav.navbar-shrink {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: white;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #970870;
    border-color: #e22cb1;
}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
}

@media (min-width: 992px) {
    #mainNav {
        background-color: transparent;
    }
}

#mainNav .navbar-toggler {
    background-color: #e22cb1;
}

.book-tickets {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 700;
}
.current-event {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
}

.book-tickets a {
    color: #e22cb1;
}

.onam {
    max-width: 100%;
    height: auto;
}

.btn-outline-light {
    color: #e22cb1;
    border-color:#e22cb1;
}

.timeline .timeline-body > ul, .timeline .timeline-body > p {
    margin-bottom: 0;
}
@media (min-width: 992px) {
    .timeline .regular .timeline-body > p {
        text-align: right;
    }
    .timeline .timeline-inverted .timeline-body > p {
        text-align: left;
    }
}
a {
    color: #e22cb1;
}

a:hover {
    color: #e22cb1;
}

.blink_me {
    animation: blinker 1.5s linear infinite;
    color: #e22cb1;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#c-bns button:first-child, #s-bns button:first-child {
    --cc-btn-primary-bg: #e22cb1;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.them_color {
    color: #e22cb1;
}
