<!-- About-->
<section class="page-section" id="about">
  <div class="container mt-5 pt-5">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">About US</h2>
      <h3 class="section-subheading text-muted">
        You are now on the official website of Kairali Belgium Malayali Association vzw.
        <br/><br/>
        Kairali Belgium Malayali Association vzw is a non-profit organization registered in Belgium (VAT number: BE0780578992). We are a secular, non-political, non-partisan and registered organization for the Indian community in Belgium. The main objective of this association is to promote the socio-cultural integration of all Indians living in Belgium. We regularly organize social, cultural, and sporting events to socialize and support each other. We believe that this will also preserve our heritage, culture, morals, language, and sense of belonging, even if we do not live in our home country.
        <br/><br/>
        The daily activities of Kairali Belgium Malayali Association are managed by a 24-member executive committee along with various teams such as sports, arts, media & entertainment, event management, legal, finance, food committee, content development and website management team. In other words, every member of Kairali Belgium Malayali Association participates in the daily activities of the association.
      </h3>
      <h2><a href="https://kairalibe-mem-registration.web.app/">Become a Member</a></h2>
    </div>
  </div>
</section>
