<!-- Events-->
<section class="page-section" id="events">
  <div class="container">
    <!--
    <div class="row text-center">
      <div class="col-md-12">
        <h3 class="current-event them_color">Upcoming Events..</h3>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-6 wings-video-container">
        <video autoplay muted loop playsinline class="wings-video">
          <source src="assets/videos/wings.mp4" type="video/mp4">
        </video>
      </div>
      <div class="col-md-6">
        <h4 class="current-event">Wings Info Session</h4>
        <p>Aula Jozef Heuts, Kasteelpark Arenberg 20, 3001 Heverlee</p>
        <p>Saturday, March 18, 2023 - 2:30 PM - 5:00 PM</p>
        <h4 class="current-event blink_me"><a href="/app">Register here</a></h4>
        <a href="#wings" class="btn btn-primary">Know More</a>
      </div>
    </div>
    <hr/>
    -->
    <div class="row text-center">
      <div class="col-md-12">
        <h3 class="text-muted">Past Events</h3>
      </div>
    </div>
    <hr/>
    <div id="slick">

      <div class="slide">
        <div class="card">
          <img src="assets/img/events/kids_event_nov_2022.png"
               class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Kids Workshop 2022</h5>
            <p class="card-text">Heilig Hartinstituut Heverlee Naamsesteenweg 355,
              3001 Leuven</p>
            <a href="https://www.facebook.com/events/2273470366149861"
               target="_blank" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="card">
          <img src="assets/img/onam.jpg"
               class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Onam Celebration 2022</h5>
            <p class="card-text">Dorpshuis Walem, Koning Albertstraat 156, Mechelen</p>
            <a href="https://www.facebook.com/events/3354975631448982/?acontext=%7B%22event_action_history%22%3A[%7B%22surface%22%3A%22page%22%7D]%7D"
               target="_blank" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="card">
          <img src="assets/img/events/naadan-ruchi_2022.png"
               class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">നാടൻ രുചിയും നമ്മുടെ പാട്ടും</h5>
            <p class="card-text">Heilig Hartinstituut Heverlee Naamsesteenweg 355,
              3001 Leuven</p>
            <a href="https://www.facebook.com/events/563900841744183/?acontext=%7B%22event_action_history%22%3A[%7B%22surface%22%3A%22page%22%7D]%7D"
               target="_blank" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="card">
          <img src="assets/img/events/spring_events_2022.jpg" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Kairali Belgium Spring Events 2022</h5>
            <p class="card-text">Kairali Belgium Malayali Association - Nekkerspoel-Borcht</p>
            <a href="https://www.facebook.com/events/353908030121988/?acontext=%7B%22event_action_history%22%3A[%7B%22surface%22%3A%22page%22%7D]%7D"
               target="_blank" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="card">
          <img src="assets/img/events/online_cultural.jpg" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Kairali Onam 2021 online cultural event</h5>
            <p class="card-text">Kairali Belgium - Malayali Association - Online event</p>
            <a href="https://www.facebook.com/events/4481841038504167/?acontext=%7B%22event_action_history%22%3A[%7B%22surface%22%3A%22page%22%7D]%7D"
               target="_blank" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="card">
          <img src="assets/img/events/football_2021.jpg" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Kairali Football League 2021</h5>
            <p class="card-text">Kairali Belgium - Malayali Association - Nekkerspoel-borcht 19 2800 Mechelen</p>
            <a href="https://www.facebook.com/events/226191049451936/?acontext=%7B%22event_action_history%22%3A[%7B%22surface%22%3A%22page%22%7D]%7D"
               target="_blank" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="card">
          <img src="assets/img/events/fun-games-2021.jpeg"
               class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Kairali Onam Fun Games 2021</h5>
            <p class="card-text">Kairali Belgium - Malayali Association - Ridder Dessainlaan 65, 2800 Mechelen, België</p>
            <a href="https://www.facebook.com/events/3198202620401311/?acontext=%7B%22event_action_history%22%3A[%7B%22surface%22%3A%22page%22%7D]%7D"
               target="_blank" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="card">
          <img src="assets/img/events/badminton-league-2021.jpeg"
               class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Badminton League Kairali Onam 2021</h5>
            <p class="card-text">Kairali Belgium - Malayali Association - Nekkerspoel-Borcht, 2800 Mechelen, België</p>
            <a href="https://www.facebook.com/events/383997236491267/?acontext=%7B%22event_action_history%22%3A[%7B%22surface%22%3A%22page%22%7D]%7D"
               target="_blank" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="card">
          <img src="assets/img/events/online-onam-2020.jpeg"
               class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Kairali Belgium - Online Onam Celebration 2020</h5>
            <p class="card-text">Kairali Belgium - Malayali Association - Online event</p>
            <a href="https://www.facebook.com/events/336620274243106/?acontext=%7B%22event_action_history%22%3A[%7B%22surface%22%3A%22page%22%7D]%7D"
               target="_blank" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="card">
          <img src="assets/img/events/onam-2019.jpeg"
               class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Kairali-Belgium Onam2019 & Inauguration of Malayali Association</h5>
            <p class="card-text">Kairali Belgium - Malayali Association - VUB - Vrije Universiteit Brussel</p>
            <a href="https://www.facebook.com/events/2301555950106242/?acontext=%7B%22event_action_history%22%3A[%7B%22surface%22%3A%22page%22%7D]%7D"
               target="_blank" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="card">
          <img src="assets/img/events/pre-event-2019.jpeg"
               class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">Pre-Event Meetup: Onam 2019</h5>
            <p class="card-text">Kairali Belgium - Malayali Association - Parc Georges Henri</p>
            <a href="https://www.facebook.com/events/501415390633565/?acontext=%7B%22event_action_history%22%3A[%7B%22surface%22%3A%22page%22%7D]%7D"
               target="_blank" class="btn btn-primary">More</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
