/* You can add global styles to this file, and also import other style files */
.bg-register-image {
    background: url('assets/images/wings.png');
    background-position: center;
    background-size: cover;
}
