<!-- Wings-->
<div class="container pt-5 mt-5">
  <div class="col-md-12">
    <img class="onam img-fluid" src="assets/img/events/wings-invitation.png"
         alt="Wings"/>
    <br/>
    <br/>
    <div class="bottom-right"><h4 class="current-event blink_me"><a [routerLink]="['/wings/register']"
                                                                    routerLinkActive="active"
                                                                    ariaCurrentWhenActive="page">
      Join Wings!</a></h4></div>
  </div>
</div>
