<div class="container pt-5">
  <div class="mt-5 pt-5">
    <!-- Thread Title and Description -->
    <div class="card mb-4">
      <div class="card-body">
        <h3 class="card-title text-primary">{{thread?.title}}</h3>
        <p class="card-text">{{thread?.description}}</p>
      </div>
    </div>

    <!-- Posts as Thread-like Branches -->
    <div *ngFor="let post of posts" class="post-branch ml-5">
      <div class="card mb-2" [ngClass]="{'awaiting-moderation': post.status === 'AWAITING_MODERATION'}">
        <div class="card-body p-2">
          <!-- Post Content -->
          <h6 class="mb-1">{{post.content}}</h6>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <!-- Report and Resolve Actions -->
              <button class="btn btn-sm btn-link text-danger p-0 mr-3" *ngIf="loggedInUser" (click)="reportComment(post.id)">
                Report Comment
              </button>
              <button class="btn btn-sm btn-link text-success p-0 mr-3" *ngIf="loggedInUser && loggedInUser.roles.includes('moderator') && post.status === 'AWAITING_MODERATION'" (click)="resolveModeration(post.id)">
                Resolve Comment
              </button>
            </div>

            <!-- Push Edit and Delete icons to the right -->
            <div class="ml-auto d-flex align-items-center">
              <!-- Edit Icon -->
              <button class="btn btn-sm btn-link p-0 mr-2" *ngIf="loggedInUser && (loggedInUser.roles.includes('moderator') || loggedInUser.roles.includes('admin'))" (click)="editComment(post.id, thread?.id!, post.content)">
                <i class="fas fa-edit text-primary"></i>
              </button>

              <!-- Delete Icon -->
              <button class="btn btn-sm btn-link p-0" *ngIf="loggedInUser && (loggedInUser.roles.includes('moderator') || loggedInUser.roles.includes('admin'))" (click)="deleteComment(post.id)">
                <i class="fas fa-trash-alt text-danger"></i>
              </button>
            </div>
          </div>

          <!-- Post Meta Info -->
          <sub class="text-muted">{{post?.createdByEmail}} on {{post?.lastUpdatedAt}}</sub>
        </div>
      </div>
    </div>

    <!-- Comment and Back Buttons -->
    <div class="d-flex justify-content-between mt-4">
      <button class="btn btn-sm btn-primary" *ngIf="loggedInUser" (click)="replyThread(thread?.id)">Comment</button>
      <a class="btn btn-sm btn-outline-secondary" routerLink="../../">Back</a>
    </div>
  </div>
</div>
