<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#/home">
      <h1><img src="assets/img/navbar-logo.png" alt="Kairali Belgium"/></h1>
    </a>
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
    >
      Menu
      <i class="fas fa-bars ml-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/home']"
          ><b>Home</b></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/events']"
          ><b>Events</b></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/wings/home']"
          ><b>Wings</b></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/gallery']"
          ><b>Gallery</b></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/about-us']"
          ><b>About Us</b></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/contact-us']"
          ><b>Contact</b></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/faq']"
          ><b>FAQ</b></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
