<div class="container pt-5 mt-5">
  <div class="col-md-12">
    <div id="g_id_onload"
         data-client_id="435519930435-23b9f8nh9kvr8lq7ab29hm3tlogok04g.apps.googleusercontent.com"
         data-context="signin"
         data-ux_mode="popup"
         data-callback="googleLoginCallback"
         data-auto_prompt="false">
    </div>
    <!--data-login_uri="http://localhost:4200/newendpoint"-->

    <div class="g_id_signin"
         data-type="standard"
         data-shape="rectangular"
         data-theme="outline"
         data-text="signin_with"
         data-size="large"
         data-logo_alignment="left">
    </div>
  </div>
</div>
