<footer class="footer py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 text-lg-center mb-5 mb-lg-0">
        <!-- Footer Social Icons-->
        <a class="btn btn-outline-light btn-social mx-1" target="_blank"
           href="https://www.facebook.com/groups/kairalibe/?ref=share_group_link">
          <i class="fab fa-fw fa-facebook-f"></i></a>
        <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://youtube.com/c/KairaliBelgium">
          <i class="fab fa-fw fa-youtube"></i>
        </a>
        <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://instagram.com/kairalibe?igshid=YmMyMTA2M2Y=">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-12 text-lg-center">
        <div class="fb-page" data-href="https://www.facebook.com/kairalibe" data-tabs="timeline"
             data-width="" data-height="130" data-small-header="false"
             data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/kairalibe" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/kairalibe">Kairali Belgium - Malayali Association</a>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-12 text-lg-center">
        Copyright © 2022 Kairali Belgium Malayali Association
      </div>
    </div>
  </div>
</footer>
