<section class="page-section" id="events">
  <div class="container pt-2">
     <div class="row text-center">
      <div class="col-md-12">
        <h3 class="current-event them_color">Upcoming Events..</h3>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-6">
        <img class="onam img-fluid" src="assets/img/events/2024/tarang-2024.jpeg"
             alt="Kairali Belgium Tarang 2024"/>
      </div>
      <div class="col-md-6">
        <h4 class="current-event">Tarang 2024 - New Year DJ Party </h4>
        <p>GC De Bosstraat, Bosstraat 28, 3012 Leuven</p>
        <p>January 5, 2024 (7:00 PM to 10:00 PM)</p>
        <a href="https://tinyurl.com/KBMATarang2024"
           target="_blank" class="btn btn-primary">Know More</a>
      </div>
    </div>
    <hr/>
    <div class="row text-center">
      <div class="col-md-12">
        <h3 class="text-muted">Past Events</h3>
      </div>
    </div>
    <hr/>
    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="slideConfig">
      <div ngxSlickItem *ngFor="let event of events" class="slide">
        <mat-card>
          <mat-card-title>
            <img class="center" mat-card-xl-image src="{{event.image}}">
          </mat-card-title>
          <mat-card-content>
            <div class="card-body">
              <h5 class="card-title">{{event.title}}</h5>
              <p class="card-text">{{event.description}}</p>
              <a href="{{event.fbLink}}"
                 target="_blank" class="btn btn-primary">More</a>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </ngx-slick-carousel>
  </div>
</section>
