<div class="container pt-5">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="alert alert-success" *ngIf="registrationSuccessful">
                            <strong>Success!</strong> Registration was successful.
                        </div>
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Join Wings!</h1>
                        </div>
                        <form class="user" [formGroup]="reservationForm">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="firstName"
                                           name="firstName" required
                                           formControlName="firstName"
                                           placeholder="First Name">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" id="lastName"
                                           name="lastName"
                                           formControlName="lastName"
                                           placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="emailAddress"
                                       name="emailAddress"
                                       formControlName="emailAddress"
                                       placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <input type="phone" class="form-control form-control-user" id="phoneNumber"
                                       name="phoneNumber"
                                       formControlName="phoneNumber"
                                       placeholder="Phone Number">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="residenceLocation"
                                       name="residenceLocation"
                                       formControlName="residenceLocation"
                                       placeholder="Residence Location">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <select class="form-control form-select form-control-select"
                                            formControlName="studentOrAlumni"
                                            aria-label="Default select example">
                                        <option value="Student">Student</option>
                                        <option value="Alumni">Alumni</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" id="areaOfStudies"
                                           name="areaOfStudies"
                                           formControlName="areaOfStudies"
                                           placeholder="Area Of Studies">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="institution"
                                           name="institution"
                                           formControlName="college"
                                           placeholder="University/College">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" id="campusLocation"
                                           name="campusLocation"
                                           formControlName="campusLocation"
                                           placeholder="Campus Location">
                                </div>
                            </div>
                            <div class="form-group row col-sm-12">
                                <input class="col-sm-1" id="checkbox" type="checkbox" [checked]="consentOk" (click)="consent()"/>
                                <small class="col-sm-11" for="checkbox">&nbsp;<blockquote>I provide my consent to <a href="https://kairalibelgium.com">Kairali Belgium Malayali Association vzw</a> to save and process my data</blockquote></small>
                            </div>
                            <button type="button" class="btn btn-primary btn-user btn-block" [disabled]="!consentOk || inProgress || !reservationForm.valid" (click)="register()">
                                <span *ngIf="!inProgress">Register</span>
                                <span *ngIf="inProgress">Registering&nbsp;
                                    <span class="spinner-border spinner-border-sm"></span>
                                </span>

                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
