.form-control-select {
    font-size: .8rem;
    border-radius: 10rem;
    padding: 1rem 1rem;
    height: 50px;
}

/* You can add global styles to this file, and also import other style files */
.bg-register-image {
  background: url('../../../assets/img/wings.png');
  background-position: center;
  background-size: cover;
}

.card:hover {
  background: white;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  padding: 0px;
  background: var(--white);
  border-radius: 0px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
}
