<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#">
      <h1><img src="assets/img/navbar-logo.png" alt="Kairali Belgium"/></h1>
    </a>
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
    >
      Menu
      <i class="fas fa-bars ml-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/admin/wings']" routerLinkActive="active" ariaCurrentWhenActive="page"
          ><b>Wings</b></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/admin/forum']" routerLinkActive="active" ariaCurrentWhenActive="page"
          ><b>Forum</b></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" [routerLink]="['/admin/photogallery/admin']" routerLinkActive="active" ariaCurrentWhenActive="page"
          ><b>Photo Gallery</b></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" (click)="logout()"
          ><b>Log out</b></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
